:root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #8c90e226;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  border-color: 1px solid #ff7eb3;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

button:hover {
  background-color: #4b96ff7c;
  border-color: #7ea7ff84;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

button:active {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

button:focus {
  outline: none;
  border-color: #ff7eb3;
  box-shadow: 0 0 8px rgba(255, 120, 180, 0.7);
}